@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.shop-card {
    padding: 0.5rem;
    border: #ccc 1px dotted;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .shop-text-center{
      text-align: center;
  }
  .shop-container {
    margin: auto;
    overflow: hidden;
    padding: 0 1rem;
  }
  .shop-card-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
  }
  .shop-card-grid img{
    width: 40%;
  }
  .shop-card-img{
    width: 20em;
    
  }
  .shop-card-label{
    color:rgb(3, 169, 244) ;
    font-size: 1.5em;

  }
  .shop-card-price{
    color: black;
    font-size: 1.4em;    
  }
  .shop-card-btn{
    background-color:rgb(3, 169, 244)  ;
    color: #fff;
    border: none;
    padding:0.5em 1.5em;
    border-radius: 0.2em;
    margin-top: 1em;
  }
  .shop-card-btn:hover{
    background-color: grey;
    font-weight: bold;
  }
  .shop-section{
    height:60vh;
    justify-content: center;
    align-items: center;
    /* padding-bottom:1rem; */
  }
   .shop-bg{
    position: absolute;
    top:0;
    right: 0;
     width:100%;
     padding-bottom:3rem;
    height: 60%; 
   opacity: 1;
  }

  .fa-plus-square, .fa-minus-square {
    cursor: pointer;
  }

  .counterShop{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width:25%;
  }

  .counterShop p{
    font-size: 2em;
    margin:0;

  }
  .counterShop i{
    font-size: 1.5em;
  }
  /* .shop-heading{
    margin:2em auto;
    font-size: 4em;
  } */

  @media  (max-width: 767px){
    .shop-card-grid{
      grid-template-columns: repeat(1,1fr);
    }
    
  }
  @media (min-width:768px){
    .shop-card-grid{
      grid-template-columns: repeat(2,1fr);
    }
    
  }
  @media (min-width:1024px){
    .shop-card-grid{
      grid-template-columns: repeat(3,1fr);
    }
  }