/* #root{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.logOutBtn{
    cursor: pointer;
}
.cards_container{
    width: 40%;

}
.prdCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-radius: 1rem;
    background-color: black;
    align-items: center;
    text-align: justify;
    color: goldenrod;
}

.prdCard img{
    /* width: 75%; */
}

.deleteBtn{
    /* width: 75%; */
}

.prevComments{
    display: flex;
    width: 75%;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 60, 60);
    margin-top: 3%;
    margin-bottom: 3%;
}

.prevComments ul{
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    border-radius: 0.5rem;
}

.prevComments li{
    width: 90%;
    border-style: solid;
    border-radius: 0.5rem;
    background-color: goldenrod;
    text-align:center;
    color: black;
    margin-bottom: 1%;
    margin-top: 1%;
}

.userName1{
    border-style: solid;
    border-radius: 0.5rem;
    color: rgb(111, 111, 202);
    font-weight: 800;
}
.cmntBtn{
    width:50%;
    background-color: goldenrod;
}

.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-radius: 1rem;
    background-color: lightgrey;
    width: 50%;
    height: 50vh;
}

.loginForm label{
    display: flex;
    justify-content: space-evenly;
    text-align:left;
    width: 100%;
}

.loginForm input{
    width: 60%;
    justify-self: flex-end;
}

.loginForm p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.AddForm{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 0.5em;
    width: 100%;
}

.AddForm input{
    width: 50%;
}
textarea{
    height: 10em;
    width: 50%;
}
.userCommented{
    display: flex;
    flex-direction: column;
}

.homeUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeProj{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    width: 95%;
}

.homeCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgba(218, 165, 32, 0.53);
    color: black;
    
}

.homeCards img{
    width: 75%;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/abstract-premium-black-gold-geometric-background_1017-24783.jpg?size=626&ext=jpg");
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1, .hero h2{
    color: goldenrod;
}

.usersContainer{
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    width: 100%;
    padding: 2em;
}

.userCard{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 75%;
    width: 16.6%;
}

.userCard h4{
    font-size: 100%;
}

.admin-users-container{
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}
.admin-users-container img{
    border-radius: 50%;
    height: 5em;
}
.admin-users-container button,.deleteBtn{
    border: none;
    border-radius: 0.4em;
    background-color: rgb(243, 21, 21);
    padding: 0.5em;
    color: white;
}
.admin-users-container button:hover,.deleteBtn:hover{
    background-color: rgb(233, 40, 40);;
}
.admin-users-container select{
    border: none;
    padding: 0.2em;
    margin-left: 0.2em;
    border-radius: 1em;
}
.orderCars{
    border: 1px solid black;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.3em;
    padding: 0.5em;
}
.orderCars select{
    border: none;
    border-radius: 0.4em;
    padding: 0.5em;
}
.grid-orders{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5em;
}