body {
  background-color: rgba(3, 169, 244, 0.05);
}
#register_heading{
  text-align: center;
}

#profileContainer * {
  padding: 0;
  margin: 0;
}
#login-fieldset {
  padding: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
fieldset a {
  color: rgb(70, 196, 255);
  text-decoration: none;
}
#login-form > div {
  width: 100%;
  margin-top: 1.5em;
}
#login-form{
  width: 70%;
}
.my-heading{
  text-align: center;
}
.login-container {
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_email,#login_password {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.8em 1em;
  display: block;
}
.login-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
#remember-me-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.accounts-form-btn {
  border: none;
  display: block;
  /* margin-bottom: 0.5em; */
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 0.5em 2em;
  color: white;
  background-color: var(--p_green);
  margin: 0.5em;
  width: 20%;
}
.error {
  color: red;
  font-size: 0.8em;
}
#register-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 60%;
  margin: auto;
}
#register-form p {
  margin: 0;
  padding: 0;
}
#register-form input,
#register-form select {
  width: 80%;
  padding: 0.8em;
}
#login-form input{
  border: none;
  border: 2px solid var(--p_light);
}
#login-form input:focus{
  outline: 1px solid var(--p_light);
}

#register-fieldset input ,#register-fieldset select{
  border: none;
  border: 1px solid var(--p_light);
  border-radius: 0.2em;
}
#register-fieldset input:focus{
  outline: 1px solid var(--p_light);
}

#logoutBtn {
  border: none;
  border-radius: 0.5em;
  padding: 0.6em 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(223, 9, 9);
}
#logoutBtn:hover {
  background-color: rgb(237, 21, 21);
}
.dataContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#profileContainer {
  margin: 1em 0;
}
#profileContainer img {
  width: 10em;
  border-radius: 50%;
}

#userProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#account-email-rule {
  margin-top: 0;
  margin: 0;
}

#accounts-form-container{
  padding: 1em 0;
}
.select-register,.register-first-password{
  display: block;
}

.btn-login button{
  width: 100%;
  margin: 0 auto;
  background-color: var(--p_green);
}
.btn-login button:hover{
  background-color: var(--p_light);
}
.a-login {
  text-align: center;
  color: var(--p_light);

}

#redirect-to-login-mahdi{
  color: var(--p_light);
}

.formGroupRegisterMahdi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em 0;
  gap: 0.5em;
}

 #reservedIn{
   text-align: center;
 }
#accountCarsWrapperMahdi{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
 #selected_car_account{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
  box-shadow: 0px 0px 8px rgba(44, 43, 43, 0.2);
  border-radius: 0.5em;
  width: 40%;
  width: 500px;
  margin: 1em auto;
  padding: 0.5em;
  background-color: #fff;
  text-align: center;
}
#selected_car_account img{
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #remember-me-container {
    width: none;
    flex-direction: column;
    gap: 1em;
  }
  #register-form {
    width: 100%;
  }
  #remember-me-container {
    width: 100%;
  }
  .btn-login button {
    margin: 0 auto;
    /* width: 50%; */
  }
  .a-login {
    text-align: center;
  }
  #login-fieldset{
    margin: 0;
  }
  #userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dataContainer{
    align-items: center;
  }




  .formGroupRegisterMahdi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.accounts-form-btn {
  width: 82%;
}

}

@media only screen and (max-width: 769px){


} 