body {
  background-color: rgba(3, 169, 244, 0.05);
}

.accounts-important {
  font-weight: bold;
  color: red;
}

#profileContainer * {
  padding: 0;
  margin: 0;
}
#login-fieldset {
  padding: 1.5em;
  border-radius: 1em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  
}
fieldset a {
  color: rgb(70, 196, 255);
  text-decoration: none;
}
#login-form > div {
  width: 100%;
  margin-top: 1.5em;
}
.my-heading{
  text-align: center;
}
.login-container {
  max-width: 40em;
  margin: 0 auto;
}
#login_email,#login_password {
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 0.5em;
}
.login-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
#remember-me-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.accounts-form-btn {
  border: none;
  display: block;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 0.5em 2em;
  color: white;
  background-color: rgb(3, 169, 244);
}
.error {
  color: red;
  font-size: 0.8em;
}
#register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
}
#register-form p {
  margin: 0;
  padding: 0;
}
#register-form input,
#register-form select {
  width: 80%;
  padding: 0.8em;
}
#logoutBtn {
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(223, 9, 9);
}
#logoutBtn:hover {
  background-color: rgb(237, 21, 21);
}
.dataContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#profileContainer {
  width: 60vw;
  margin-left: 3em;
}
#profileContainer img {
  width: 10em;
  border-radius: 50%;
}

#userProfile {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 1em;
}
#account-editData {
  background-color: white;
  padding: 2em;
}
#account-email-rule {
  margin-top: 0;
  margin: 0;
}
#changeData-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}
#changeData-form input {
  padding: 0.5em;
  width: 80%;
}
#changeData-form button {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: rgb(3, 169, 244);
}
#accounts-form-container{
  padding: 1.5em;
}
.select-register,.register-first-password{
  display: block;
}
#account-editData{
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 490px) {
  #remember-me-container {
    width: none;
    flex-direction: column;
    gap: 1em;
  }
  #register-form {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 490px) {
  #remember-me-container {
    width: 100%;
  }
  .btn-login {
    margin: 0 auto;
  }
  .a-login {
    text-align: center;
  }
  #login-fieldset{
    width: 90%;
    margin: 0;
  }
  #userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dataContainer{
    align-items: center;
  }
  /* #changeData-form{
    gap: 0;
    column-gap: 0;
  } */
  #changeData-form > div > br{
    display: none;
  }
  #changeData-form div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}
@media only screen and (max-width: 600px){
 #userProfile{
   width: 80vw;
 } 
 
}
@media only screen and (max-width: 769px){
  #account-editData{
    flex-direction: column;
    align-items: center;
  }
  #login-fieldset input{
    width: 60vw;
  }
  #changeData-form input{
    width: 40vw;
  }
  .Weather{
    width: 60vw;
}
#changeData-form div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#changeData-form label{
  width: 58%;
  text-align: left;
}
#changeData-form br{
  display: none;
}
} 