body {
  background-color: rgba(3, 169, 244, 0.05);
}
#register_heading{
  text-align: center;
}
.accounts-important {
  font-weight: bold;
  color: red;
}

#profileContainer * {
  padding: 0;
  margin: 0;
}
#login-fieldset {
  padding: 1.5em;
  border-radius: 1em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
fieldset a {
  color: rgb(70, 196, 255);
  text-decoration: none;
}
#login-form > div {
  width: 100%;
  margin-top: 1.5em;
}
.my-heading{
  text-align: center;
}
.login-container {
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_email,#login_password {
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 0.5em;
}
.login-title {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
#remember-me-container {
  width: 50%;
  display: flex;
  align-items: center;
}
.accounts-form-btn {
  border: none;
  display: block;
  /* margin-bottom: 0.5em; */
  border-radius: 0.5em;
  font-size: 1.2em;
  padding: 0.5em 2em;
  color: white;
  background-color: var(--p_green);
  margin: 0.5em;
  width: 20%;
}
.error {
  color: red;
  font-size: 0.8em;
}
#register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
}
#register-form p {
  margin: 0;
  padding: 0;
}
#register-form input,
#register-form select {
  width: 80%;
  padding: 0.8em;
}
#login-form input{
  border: none;
  border: 2px solid var(--p_light);
}
#login-form input:focus{
  outline: 1px solid var(--p_light);
}

#register-fieldset input ,#register-fieldset select{
  border: none;
  border: 1px solid var(--p_light);
  border-radius: 0.2em;
}
#register-fieldset input:focus{
  outline: 1px solid var(--p_light);
}

#logoutBtn {
  border: none;
  border-radius: 0.5em;
  padding: 0.6em 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(223, 9, 9);
}
#logoutBtn:hover {
  background-color: rgb(237, 21, 21);
}
.dataContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#profileContainer {
  margin: 1em 0;
}
#profileContainer img {
  width: 10em;
  border-radius: 50%;
}

#userProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#account-editData {
  background-color: transparent;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#account-email-rule {
  margin-top: 0;
  margin: 0;
}
#changeData-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}
#changeData-form input {
  padding: 0.5em;
  width: 80%;
}
#changeData-form button {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  background-color: var(--p_green);
  width: 25%;
}
#changeData-form button:hover {
  background-color: var(--p_light);

}
#accounts-form-container{
  padding: 1em 0;
}
.select-register,.register-first-password{
  display: block;
}

.btn-login button{
  width: 100%;
  margin: 0 auto;
  background-color: var(--p_green);
}
.btn-login button:hover{
  background-color: var(--p_light);
}
.a-login {
  text-align: center;
  color: var(--p_light);

}

#redirect-to-login-mahdi{
  color: var(--p_light);
}

.formGroupRegisterMahdi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2em 0;
  gap: 0.5em;
}
#changeData-form div input{
  border: none;
  border: 1px solid var(--p_light);
  border-radius: 0.2em;
  width: 100%;
}

#changeData-form div input:focus{
  outline: 1px solid var(--p_light);
}

@media only screen and (max-width: 480px) {
  #remember-me-container {
    width: none;
    flex-direction: column;
    gap: 1em;
  }
  #register-form {
    grid-template-columns: 1fr;
  }
  #remember-me-container {
    width: 100%;
  }
  .btn-login button {
    margin: 0 auto;
    /* width: 50%; */
  }
  .a-login {
    text-align: center;
  }
  #login-fieldset{
    width: 90%;
    margin: 0;
  }
  #userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dataContainer{
    align-items: center;
  }


  #changeData-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #changeData-form div input{
    border-radius: 0.2em;
    width: 100%;
  }


  #changeData-form div label{
    align-self: flex-start;
  }
  .formGroupRegisterMahdi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #changeData-form button {
    width: 100%;
  }
.accounts-form-btn {
  width: 82%;
}

}

@media only screen and (max-width: 769px){
  #account-editData{
    flex-direction: column;
    align-items: center;
  }

#changeData-form div{
  display: flex;
  flex-direction: column;
}

#changeData-form br{
  display: none;
}
} 