@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
  font-weight: 800;
}

h1, h2, h3, h4{
  font-weight: bolder;
}

html {
  width: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.Home {
  background-image: url("../../Assets/background_image/Back.png");
  margin: 0 auto;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}




.intro-text {
  color: orange;
}
.intro-h {
  color: #03a9f4;
  font-size: 3.5em;
}

.intro-p {
  color: #fff;
  font-size: 1.5em;
  animation-duration: 3s;
  padding: 10px;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -20%;
    width: 300%;
  }

  to {
    margin-right: 10%;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  height: 40%;
  justify-content: space-around;
  margin-left: 10%;
  text-align: justify;
}
.intro-button {
  padding: 0.5em 1em;
  border-radius: 1.5em;
  background-color: orange;
  color: white;
  font-weight: bold;
  width: fit-content;
  box-shadow: darkblue;
  border: none;
}

.intro-button:hover {
  background-color: whitesmoke;
  color: #292c6d;
}
@media screen and (max-width: 450px) {
  .main {
    font-size: 1em;
    width: 100%;
  }
  .intro-h {
    font-size: 3em;
  }
  .intro-p {
    font-size: 0.9em;
    width: 80%;
  }
}
@media screen and (max-width: 1121px) {
  br {
    display: none;
  }
}
