@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Roboto+Condensed:wght@300&family=Roboto:wght@900&family=Source+Sans+Pro:wght@200&family=Vidaloka&family=Vollkorn&display=swap");

.serviceContainer {
  width: 65%;
  background-color: var(--s_light);
  box-shadow: 1px 1px 2px 2px rgba(4, 0, 0, 0.1);
  margin: -2em auto;
  border-collapse: collapse;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
  color: var(--p_green);
}
.serviceList {
  border-left: 1px solid rgb(245, 242, 242);
  width: 100%;
}
#icons {
  font-size: 3em;
  padding: 0.7em 0;
}
.service-title {
  font-size: 1.5em;
  font-weight: bold;
}
.service-paragraph {
  font-size: 1.3em;
  color: var(--p_dark);
  padding: 1em;
}
@media screen and (max-width: 1024px) {
  #icons {
    font-size: 2em;
    padding: 0.7em 0;
  }
  .service-title {
    font-size: 1em;
  }
  .service-paragraph {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 900px) {
  .service-title {
    font-size: 1.1em;
  }
  .service-paragraph {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 800px) {
  .service-paragraph {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 445px) {
  .serviceContainer {
    display: none;
  }
}
