*{
    margin: 0;
    padding: 0;
}
:root{
--p_green:#004c3f;
--p_light:#38786a;
--p_dark:#002419;
--s_teal:#b2dfdb;
--s_light:#e5ffff;
--s_dark:#82ada9;
--head_text:#ffffff;
--body_text: #e2e2e2;
--widgets:#c3dedb
}