.youtube-btn-container {
  max-width: 960;
  margin: 1em auto;
}
.youtube-btn {
  padding: 1em;
  background-color: orange;
  color: #fff;
  border-radius: 0.2em;
  border: none;

  display: block;
  margin: 0 auto;
  text-align: center !important ;
}
.youtube-btn:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #fff;
}
.youtube-container {
  text-align: center;
}
.youtube-container iframe {
  width: 50%;
}
@media screen and (max-width: 450px) {
  .youtube-btn {
    width: 80%;
  }
}
